@model CarMate.CarEvents

@*<h2>Заправка</h2>*@

<div class="form-group">
    @Html.LabelFor(events => events.FuelCategoryId, "Тип топлива", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.DropDownList("FuelCategoryId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FuelCategoryId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(events => events.FuelCount, "Залито бензина", htmlAttributes: new {@class = "control-label col-md-2"})
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.FuelCount, htmlAttributes: new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.FuelCount, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(events => events.PricePerLitr, "Цена за литр", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.PricePerLitr, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PricePerLitr, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(events => events.IsFullTank, "Полный бак", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.CheckBoxFor(model => model.IsFullTank, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IsFullTank, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(events => events.IsMissedFilling, "Пропустил заправку", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.CheckBoxFor(model => model.IsMissedFilling, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IsMissedFilling, "", new { @class = "text-danger" })
    </div>
</div>