@model CarMate.CarEvents

@*<h2>Заправка</h2>*@

<div class="form-group">
    @Html.LabelFor(events => events.FuelCategories.Category, Resources.CarEvents.FuelType, htmlAttributes: new { @class = "text-right col-md-2" })
    <div class="col-md-3">
        @*<span id="FuelCategoryDetails">*@@Html.DisplayFor(model => model.FuelCategories.Category)@*</span>*@
        @*@Html.DropDownList("FuelCategoryId", null, htmlAttributes: new
        {
            @class = "form-control",
        })
        @Html.ValidationMessageFor(model => model.FuelCategoryId, "", new { @class = "text-danger" })*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(events => events.FuelCount, Resources.CarEvents.FuelCount, htmlAttributes: new { @class = "text-right col-md-2" })
    <div class="col-md-3">
        @*<span id="FuelCountDetails">*@@Html.DisplayFor(model => model.FuelCount) @ViewBag.UnitVolume@*</span>*@
        @*@Html.TextBoxFor(model => model.FuelCount, htmlAttributes: new
        {
            @class = "form-control",
            @Id = "FuelCountEdit",
            @Style = "display: none;"
        })
        @Html.ValidationMessageFor(model => model.FuelCount, "", new {@class = "text-danger"})*@
    </div>
</div>

<div class="form-group">
    @{
        string price = Resources.CarEvents.PricePerLitr + ViewBag.UnitVolume;
    }
    @Html.LabelFor(events => events.PricePerLitr, price, htmlAttributes: new { @class = "text-right col-md-2" })
    <div class="col-md-3">
        @*<span id="PricePerLitrDetails">*@@Html.DisplayFor(model => model.PricePerLitr)@*</span>*@
        @*@Html.TextBoxFor(model => model.PricePerLitr, htmlAttributes: new
        {
            @class = "form-control",
            @Id = "PricePerLitrEdit",
            @Style = "display: none;"
        })
        @Html.ValidationMessageFor(model => model.PricePerLitr, "", new { @class = "text-danger" })*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(events => events.IsFullTank, Resources.CarEvents.FullTank, htmlAttributes: new { @class = "text-right col-md-2" })
    <div class="col-md-3">
        @*<span id="IsFullTankDetails">*@@Html.DisplayFor(model => model.IsFullTank)@*</span>*@
        @*@Html.CheckBoxFor(model => model.IsFullTank, htmlAttributes: new
        {
            @class = "form-control",
            @Id = "IsFullTankEdit",
            @Style = "display: none;"
        })
        @Html.ValidationMessageFor(model => model.IsFullTank, "", new { @class = "text-danger" })*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(events => events.IsMissedFilling, Resources.CarEvents.MissedFilling, htmlAttributes: new { @class = "text-right col-md-2" })
    <div class="col-md-3">
        @*<span id="IsMissedFillingDetails">*@@Html.DisplayFor(model => model.IsMissedFilling)@*</span>*@
        @*@Html.CheckBoxFor(model => model.IsMissedFilling, htmlAttributes: new
        {
            @class = "form-control",
            @Id = "IsMissedFillingEdit",
            @Style = "display: none;"
        })
        @Html.ValidationMessageFor(model => model.IsMissedFilling, "", new { @class = "text-danger" })*@
    </div>
</div>