@model IEnumerable<CarMate.CarEvents>

@{
    ViewBag.Title = "Все события";
}

<div class="container">

    <h2>Владелец: "@ViewBag.User.Nickname"</h2>

    <div class="row">
        @Html.Partial("_PartCarInfo", (CarMate.Cars)ViewBag.Car)
        <div class="col-lg-9 col-md-9">
            @Html.Partial("_PartCarMenu")
            <hr/>
            <div id="carContainer">
                @*<h2>@ViewBag.Title</h2>*@
                @if (ViewBag.IsOwner != null && ViewBag.IsOwner == true)
                {
                    <p>
                        @Html.ActionLink("Добавить событие", "Create", "CarEvents", new {carId = ViewBag.Car.Id}, null)
                    </p>
                }
                <table class="table">
                    <tr>
                        <th>
                            Событие
                        </th>

                        <th>
                            Пробег
                        </th>

                        <th>
                            Дата
                        </th>

                        <th>
                            Стоимость
                        </th>

                        <th>
                            Комментарий
                        </th>

                        <th>
                            Показать на карте
                        </th>

                        <th>
                        </th>
                    </tr>

                    @foreach (var carEvent in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => carEvent.EventTypes.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(x => carEvent.Odometer)
                            </td>

                            <td>
                                @carEvent.DateEvent.ToString("dd/MM/yyyy")
                            </td>

                            <td>
                                @Html.DisplayFor(x => carEvent.CostTotal)
                            </td>

                            <td>
                                @Html.DisplayFor(x => carEvent.Comment)
                            </td>

                            <td>
                                @if (carEvent.Latitute != null && carEvent.Longitute != null)
                                {
                                    @*@Html.ActionLink("Показать на карте", "", "", null, null)*@
                                    @:Показать на карте
                            }
                            </td>

                            <td>
                                @Html.ActionLink("Детали", "Details", new { id = carEvent.Id })
                                @if (ViewBag.IsOwner != null && ViewBag.IsOwner == true)
                                {
                                    @Html.ActionLink("Изменить", "Edit", new {id = carEvent.Id})
                                    @Html.ActionLink("Удалить", "Delete", new {id = carEvent.Id})
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div> <!-- End General Container -->

