@helper CurrentItem(string controller)
{
    if (controller != ViewContext.RouteData.Values["controller"].ToString())
    {
        return;
    }
    @:class="active"
}

<ul class="nav nav-pills">
    @*<li @CurrentItem("Car")>
        @Html.ActionLink("Все", "Details", "Car", new { id = ViewBag.Car.Id }, null)
    </li>*@

    <li @CurrentItem("CarEvents")>
        @Html.ActionLink("События", "Index", "CarEvents", new { carId = ViewBag.Car.Id }, null)
    </li>

    <li @CurrentItem("CarConsumption")>
        @Html.ActionLink("Расход топлива", "Index", "CarConsumption", new { carId = ViewBag.Car.Id }, null)
    </li>

    <li @CurrentItem("CarCostStatistics")>
        @Html.ActionLink("Статистика затрат", "Index", "CarCostStatistics", new { carId = ViewBag.Car.Id }, null)
    </li>

    <li @CurrentItem("CarPersonalStatistics")>
        @Html.ActionLink("Статистика персональная", "Index", "CarPersonalStatistics", new { carId = ViewBag.Car.Id }, null)
    </li>

    <li @CurrentItem("Test")>
        @Html.ActionLink("Планы", "Test", "Test", null, new { @class = "btn btn-default", disabled = true })
    </li>
</ul>