@model CarMate.Models.LoginModel



<div>
    <!-- Модальное окно -->
    <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Вход</h4>
                </div>
                <div class="modal-body">
                    <h2>Use a local account to log in.</h2>
                    @*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, @class = "form col-md-12 center-block" }))*@
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                    
                        <div class="form-group">
                    
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @placeholder = "Userame" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group">
                     
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form-group">
              
                            <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block" />
                            <span class="pull-right">@Html.ActionLink("Регистрация", "Register")</span>
                            <span>
                                @*<a href="#">Need help?</a>*@
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                            </span>
                        </div>

                    }

                    <h2>Use another service to log in.</h2>
                    @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })

                </div>
            </div>
        </div>
    </div>
</div>






