@model IEnumerable<CarMate.CarEvents>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Владелец: "@ViewBag.User.Nickname"</h2>
    <div class="row">
        @Html.Partial("_PartCarInfo", (CarMate.Cars)ViewBag.Car)
        <div class="col-lg-9 col-md-9">
            @Html.Partial("_PartCarMenu")
            <hr />
            <div id="carContainer">
                <h2>Index</h2>
                <table class="table">
                    <tr>
                        <th>
                            Пробег
                        </th>

                        <th>
                            Дата
                        </th>

                        <th>
                            Название
                        </th>

                        <th>
                            Расход
                        </th>

                    </tr>

                    @int odometr = 0;
                    @foreach (var carEvent in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => carEvent.Odometer)
                            </td>

                            <td>
                                @Html.DisplayFor(x => carEvent.DateEvent)
                            </td>

                            <td>
                                @Html.DisplayFor(x => carEvent.NameEvent)
                            </td>

                            <td>
                                @Html.DisplayFor(x => carEvent.NameEvent)
                            </td>

                            <td>
                                @carEvent.Odometer - odometr;
                            </td>

                            <td>
                                @Html.ActionLink("Детали", "Details", new { id = carEvent.Id }) |
                                @Html.ActionLink("Изменить", "Edit", new { id = carEvent.Id }) |
                                @Html.ActionLink("Удалить", "Delete", new { id = carEvent.Id })
                            </td>
                        </tr>
                    }

                </table>


            </div>
        </div>
    </div>
</div>

                
