@using System.Globalization
@using Newtonsoft.Json
@model IEnumerable<CarMate.ViewModel.CarConsumptionViewModel>

@{
    ViewBag.Title = "Расход топлива";

    var comsumption = Model.OrderBy(x=>x.NewCarEvent.DateEvent).Select(x => x.Consumption).ToArray();
    string comsumptionJson = JsonConvert.SerializeObject(comsumption);
}

<div class="container">
    <h2>Владелец: "@ViewBag.User.Nickname"</h2>
    <div class="row">
        @Html.Partial("_PartCarInfo", (CarMate.Cars)ViewBag.Car)
        <div class="col-lg-9 col-md-9">
            @Html.Partial("_PartCarMenu")
            <hr />
            <div id="carContainer">
                @*<h2>@ViewBag.Title</h2>*@

                @if (Model.Any())
                {

                    <table class="table">
                        <tr>
                            <th>
                                Дата
                            </th>

                            <th>
                                Название
                            </th>

                            <th>
                                Пробег
                            </th>

                            <th>
                                Расход
                            </th>

                            <th>

                            </th>
                        </tr>

                        @foreach (var carEvent in Model)
                        {
                            //if (minConsumption == 0)
                            //{
                            //    minConsumption = carEvent.Consumption;
                            //}
                            //if (maxConsumption < carEvent.Consumption)
                            //{
                            //    maxConsumption = carEvent.Consumption;
                            //}


                            <tr style="background: cornflowerblue">
                                <td></td>

                                <td></td>

                                <td></td>

                                <td></td>

                                <td></td>
                            </tr>

                            <tr>
                                <td>
                                    @*@Html.DisplayFor(x => carEvent.NewCarEvent.DateEvent)*@
                                    @carEvent.NewCarEvent.DateEvent.ToString("dd/MM/yyyy")
                                </td>

                                <td>
                                    @*@carEvent.NewCarEvent.FuelCategories.category*@
                                    @*Название заправки, тип топлива, перейти к событию, место где произошло событие*@
                                </td>

                                <td>
                                    @Html.DisplayFor(x => carEvent.Mileage)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => carEvent.Consumption)
                                </td>

                                <td>
                                    @Html.ActionLink("К событию", "Details", "CarEvents", new {id = carEvent.NewCarEvent.Id}, new {@class = "btn btn-default"})
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @*@Html.DisplayFor(x => carEvent.OldCarEvent.DateEvent)*@
                                    @carEvent.OldCarEvent.DateEvent.ToString("dd/MM/yyyy")
                                </td>

                                <td>
                                    @*Название заправки, тип топлива, перейти к событию, место где произошло событие*@
                                </td>

                                <td></td>

                                <td></td>

                                <td>
                                    @Html.ActionLink("К событию", "Details", "CarEvents", new {id = carEvent.OldCarEvent.Id}, new {@class = "btn btn-default"})
                                </td>
                            </tr>
                        }
                    </table>

                    @:Минимальный: @ViewBag.MinConsumption;
                    @:Средний: @ViewBag.AvgConsumption;
                    @:Максимальный: @ViewBag.MaxConsumption;

                    <div id="fuelConsamptionHighcharts" class="col-lg-12 col-md-12"></div>
                }
                else
                {
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            Пользоавать еще не запправлял полный бак 2 раза подряд.
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var json = '@(comsumptionJson)';
        var dataConsumption = JSON.parse(json);

        var arr = new Array(dataConsumption.length);
        for (var j = 0; j < arr.length; j++) {
            arr[j] = '';
        }

        $('#fuelConsamptionHighcharts').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Расход топлива'
            },
            subtitle: {
                text: 'Период: '
            },
            xAxis: {
                categories: arr
            },
            yAxis: {
                title: {
                    text: 'Бензин/Газ (л./100км.)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [
                {
                     name: 'Тип топлива',
                     data: dataConsumption
                }
                //, {
                //    name: 'London',
                //    data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                //}
            ]
        });
    });
</script>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Script/highcharts")
}