@model CarMate.Users

@{
    ViewBag.Title = Resources.User.GarageUser + " " + Model.Nickname;
}

<div class="container">

        <h2>@ViewBag.Title</h2>

    <div class="row"> <!-- users wrapper row -->
        <div class="col-lg-12"> <!-- users wrapper col -->
            <div class="row"><!-- wrapper row -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 media-left media-middle">
                            <img alt="Avatar" src="@Model.ImgPath" style="width: 200px; height: 250px"/>
                            @if (ViewBag.IsOwner != null && ViewBag.IsOwner == false)
                            {
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#SendMessage_@Model.Nickname">
                                    @Resources.User.SendMessage
                                </button>

                                @Html.Partial("_PartSendMessage", Model)
                            }
                        </div>
                        <div class="col-xs-8">
                            @*<p>Страна: @Model.country, Область: , Город: @Model.city</p>*@
                            <p>@Resources.User.DateRegister: @Model.DateRegister.ToString("dd.MM.yyyy")</p>
                            @{
                                int day = (DateTime.Now - @Model.DateRegister.AddDays(-1)).Days;
                            }
                            <p>@Resources.User.DaysWithSite: @day</p>
                        </div><!-- End col -->
                    </div><!-- End row -->
                </div> <!-- End Container-fluid -->
            </div><!-- End wrapper row -->
        </div><!-- End col -->
    </div> <!-- End users row -->

    <div class="row">
        <div class=" col-lg-offset-3 col-lg-6 text-center">
            @if (ViewBag.IsOwner != null && ViewBag.IsOwner == true)
            {
                @Html.ActionLink(Resources.User.AddVehicle, "Create", "Car", new { userId = @Model.Id }, new { @class = "btn btn-primary btn-lg btn-block" })
            }
        </div>
    </div>

     <div class="row"> <!-- cars wrapper row -->
                @if (@Model.Cars.Any())
                {
                    foreach (var car in @Model.Cars)
                    {
                        <div class="col-xs-4">
                            <div class="container-fluid highlight">

                                <div class="row">
                                    @*<div class="col-xs-12 ">*@
                                    <div class="col-lg-12 col-md-12 thumbnail">
                                        @Html.ActionLink(" ", "Details", "Car", new { id = car.Id })
                                        <img src="@car.ImgPath" />
                                    </div><!-- End col-->
                                </div><!-- End row-->
                                <div class="row">
                                    <div class="col-xs-12">
                                        @if (@car.ModificationId != null)
                                        {
                                            <h3>@car.CarModels.CarBrands.Brand @(" - ") @car.CarModels.Model @(" - ") @car.CarModifications.Modification</h3>
                                        }
                                        else
                                        {
                                            <h3>@car.CarModels.CarBrands.Brand @(" - ") @car.CarModels.Model</h3>
                                        }

                                        <p>@Resources.Car.Brand: @car.CarModels.CarBrands.Brand</p>
                                        <p>@Resources.Car.Model: @car.CarModels.Model</p>

                                        <p>
                                            @Resources.Car.Modification:
                                            @if (@car.ModificationId != null)
                                            {
                                                @car.CarModifications.Modification
                                            }
                                        </p>

                                        <p>@Resources.User.ViewsCount: @*@car.viewCount*@</p>
                                        @if (ViewBag.IsOwner != null && ViewBag.IsOwner == true)
                                        {
                                            <p>
                                                @Html.ActionLink(Resources.Global.Delete, "Delete", "Car", new {id = car.Id}, new {@class = "btn btn-primary"})
                                                @Html.ActionLink(Resources.Global.Edit, "Edit", "Car", new { id = car.Id }, new { @class = "btn btn-primary" })
                                            </p>
                                        }
                                        @*@Html.ActionLink("Подробнее", "Details", "Car", new {id = car.Id}, new {@class = "btn btn-success"})*@
                                        @Html.ActionLink(Resources.Global.Details, "Index", "CarEvents", new { carId = car.Id }, new { @class = "btn btn-success" })
                                    </div><!-- End col 12-->
                                </div><!-- End row-->
                            </div> <!-- End container-fluid -->
                        </div>
                        <!-- End col xs-4-->
                    }
                }
                else
                {
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            @Resources.User.UserDontHaveVechicle
                        </div>
                    </div>
                }
    </div><!-- End cars row -->

</div> <!-- End General Container -->