@model IEnumerable<CarMate.Users>

@{
    ViewBag.Title = "Все пользователи";
}

<div class="container">

    <h2>@ViewBag.Title</h2>

    <div class="row"> <!-- users wrapper row -->
        <div class="col-lg-12"> <!-- users wrapper col -->
            <div class="row"><!-- ul wrapper row -->
                <ul class="media-list col-lg-6 col-md-6">
                    @foreach (var user in @Model)
                    {
                        var border = "thumbnail";
                        if (ViewBag.Owner != null && ViewBag.Owner == @user.Id)
                        {
                            border = "thumbnail alert alert-success";
                        }

                        <li class="media">
                            @* <div class="row"> <!-- li inner row -->
                                <div class="col-lg-6"> <!-- li inner col -->*@
                            <div class="container-fluid">
                                <div class="row @border">
                                    <div class="col-xs-4 media-left media-middle">
                                        <img alt="Avatar" src="@user.ImgPath" class="img-thumbnail"/>
                                    </div>
                                    @*</div>*@
                                    <div class="col-xs-8">
                                        <h4 class="media-heading">@Html.ActionLink(@user.Nickname, "Details", new {id = user.Id})</h4>

                                        @*<p>Страна: @user.ccountry, Область: , Город: @user.city</p>*@
                                        <p>Дата регистрации: @user.DateRegister.ToString("dd.MM.yyyy")</p>
                                        @{
                                            int day = (DateTime.Now - @user.DateRegister.AddDays(-1)).Days;
                                        }
                                        <p>Дней с сайтом: @day</p>
                                        <div>
                                            Гараж:
                                            @if (user.Cars.Any())
                                            {
                                                var cars = user.Cars.ToList();
                                                for (int i = 0; i < cars.Count; i++)
                                                {
                                                    var car = cars[i];
                                                    @Html.ActionLink(car.CarModels.CarBrands.brand + " - " + car.CarModels.model, "Details", "Car", new {id = car.Id}, null)
                                                @*@car.Charging.Count*@
                                                    if (i < cars.Count - 1)
                                                    {
                                                        @:,
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                @: Пусто
                                            }
                                        </div>


                                        @if (ViewBag.Owner != null && ViewBag.Owner != @user.Id)
                                        {
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#SendMessage_@user.Nickname">
                                                Отправить сообщение
                                            </button>

                                            @Html.Partial("_PartSendMessage", user)
                                        }
                                    </div>
                                </div> <!-- End li row-->
                            </div> <!-- End li container-->
                            @*     </div> <!--End li inner col -->
                            </div> <!--End li inner row -->*@
                        </li>

                    }
                </ul>
            </div><!-- ul wrapper row -->
        </div> <!--End users wrapper col -->
    </div> <!--End users wrapper row -->
</div>
    <!-- /#page-wrapper -->
