@model CarMate.Models.Squirrel
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@*<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- Bootstrap Core CSS -->
<link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="~/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- Timeline CSS -->
<link href="~/dist/css/timeline.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/dist/css/sb-admin-2.css" rel="stylesheet">
<link href="~/Content/customStyles.css" rel="stylesheet">
<!-- Morris Charts CSS -->
<link href="~/bower_components/morrisjs/morris.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<![endif]-->
<script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src='../vendor/jquery-2.0.js'></script>
<script>if (location.hostname.match(/ricostacruz\.com$/)) { var _gaq = _gaq || []; _gaq.push(["_setAccount", "UA-20473929-1"]), _gaq.push(["_trackPageview"]), function () { var a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js"; var b = document.getElementsByTagName("script")[0]; b.parentNode.insertBefore(a, b) }() }</script>

<style>
    label {
        color:white
    }
     .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 100%;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
    }

        #pac-input:focus {
            border-color: #4d90fe;
            margin-left: -1px;
            padding-left: 14px; /* Regular padding-left + 1. */
            width: 100%;
        }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 100;
        }

   
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }    
</style>
<script type="text/javascript">
    $('body').show();
    //NProgress.start();
    //NProgress.set(0.5);
    $("#menu_map").append('<div id="categoryDiv"></div>' +
       '<div class="row">' +
       '<div class="col-lg-10">' +
            '<label>@Resources.Map.SearchPlaceOnMap</label>'+
            '<input type="text" placeholder="@Resources.Map.EnterAddress" id="pac-input">' +
       '</div></div>' +
       '<div class="row">' +
       '<div class="col-lg-12">' +
             '<label for="directionsPanel" id="labelroute" >@Resources.Map.RouteDetails</label>' +
             ' <div id="directionsPanel" style="overflow:auto;width:100%;height:300px;"></div>' +
       '</div></div>'+
       '<input type="text" id="latitude" size="8" disabled="true" style="display:none;" />' +
       '<input type="text" id="longitude" size="8" disabled="true" style="display:none;"  />');

</script>
<div class="container-fluid">   
   
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div id="map" style="width:100%; height:800px;"></div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">АЗС</h3>
                </div>
                <div class="panel-body">
                    <ul id="results" style="overflow:scroll; display:block;height:800px" class="list-group" ></ul>                                                                               
                </div>
            </div>
        </div>
    </div>  
     <div class="row">
        <div class ="col-xs-6 col-md-4">
           
            <div id="directionsPanel" style="overflow:auto;width:100%;height:250px;"></div>
        </div>
        
    </div>       
</div>



<script type="text/javascript">
    var map; //карта
    var markers = []; //массив маркеров
    var image; //маркер картинка
    var squirrel; //объект json
    var squirrel_data = []; //массив объектов json
    var cafe_marker = []; //массив данных от Foursquare
    var gas_markers = []; //массив данных от БД азс
    var repair_markers = []; //массив данных сто getRepairGoogle
    var parking_markers = []; //массив данных сто getRepairGoogle
    var route_markers = []; //массив для начальной и конечной точки маршрута
    var waipoint_markers = []; //массив путевых точек маршрута
    var routepath = []; //массив для временного хранения путевых точек
    var waigas_markers = []; //массив заправок по маршруту
    var wairepair_markers = []; //массив данных сто getRepairGoogle по маршруту
    var waiparking_markers = []; //массив данных сто getRepairGoogle по маршруту
    var infowindow_arr = []; //масив инфоокон
    var fuelcategory_id = []; //массив id категорий азс
    var place; //autocomplete.getPlace()
    var placeSearch, autocomplete, autocomplete1, autocomplete2; //google.maps.places.Autocomplete(input);
    var geocoder = new google.maps.Geocoder();
    var directionsDisplay; //setDirections(response);
    var directionsService = new google.maps.DirectionsService();
    var aclocation = [], aclocation2 = [];
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };
    var input, input1, input2; //lat long

    var Pix = 3.141592653589793;
    var RADIO = 6378.16;
    $(document).ready(function () {
        var categoryDiv = $("#categoryDiv");
        $.ajax({
            cache: false,
            type: "GET",
            @*url: "@(Url.RouteUrl("CategoryByCategory"))",*@
            url: '@(Url.Action("CategoryByCountry", "Category"))',
            data: {},

            success: function (data) {
                categoryDiv.html('');
                categoryDiv.html(data);
                if ($("#category1").prop("checked")) { // box is checked
                    categoryDetails();
                } else { // box is not checked
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrive region');
            }

        });
        $(this).change(function () {
            //выбор заправок
            deleteMarkers(gas_markers);
            deleteMarkers(repair_markers);
            deleteMarkers(parking_markers);
            if ($("#category1").prop("checked")) {
                if ($("#categoryDetails input:checked")) {

                    $("#gas_cheaper").prop("disabled", true);
                    fuelcategory_id = [];
                    $("#categoryDetails input:checked").each(function () {
                        // alert(this.value);
                        fuelcategory_id.push(this.value);
                        $("#gas_cheaper").prop("disabled", false);

                    });
                    clearMarkers(gas_markers);
                    getDbMarkersGas();

                    if (route_markers.length > 1) {
                        deleteMarkers(waigas_markers);
                        calcRoute(route_markers); //если проложен маршрут подгружаем заправки
                    }


                }
            } else {

                clearMarkers(gas_markers);
                if (route_markers.length > 1) {
                    deleteMarkers(waigas_markers); //если проложен маршрут удаляем заправки
                }
            }
            //выбор сто
            if ($("#category2").prop("checked")) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                var rad = $('#radius').val();
                //alert(rad);
                getRepairGoogle(lat, lng, rad);
                if (route_markers.length > 1) {

                    calcRoute(route_markers); //если проложен маршрут подгружаем сто
                }
            } else {
                deleteMarkers(repair_markers);
                if (route_markers.length > 1) {
                    deleteMarkers(wairepair_markers); //если проложен маршрут удаляем сто
                }
            }
            //выбор парковок
            if ($("#category3").prop("checked")) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                var rad = $('#radius').val();
                //alert(rad);
                getParkingGoogle(lat, lng, rad);
                if (route_markers.length > 1) {

                    calcRoute(route_markers); //если проложен маршрут подгружаем парковки
                }
            } else {
                deleteMarkers(parking_markers);
                if (route_markers.length > 1) {
                    deleteMarkers(waiparking_markers); //если проложен маршрут удаляем парковки
                }
            }
            //выбор кафе
            if ($("#category5").prop("checked")) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                getFoursquare(lat, lng);
            } else {
                clearMarkers(cafe_marker);
            }

        });
    });

    //получить марки бензина из БД
    function categoryDetails() {
        var categoryDetails = $("#categoryDetails");
        $.ajax({
            cache: false,
            type: "GET",
            @*url: "@(Url.RouteUrl("CheckFuelCategory"))",*@
            url: '@(Url.Action("CheckFuelCategory", "FuelCategory"))',
            data: { "id": 1 },
            success: function (data)
            {
                categoryDetails.html('');
                categoryDetails.html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrive fuelcategory');
            }
        });
    }


    //Google maps API инициализация
    function initialize() {

        var element = document.getElementById("map");
        var rendererOptions = {
            draggable: true
        };
        directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

        //directionsDisplay.setPanel(document.getElementById('directionpanel'));
        map = new google.maps.Map(element, {
            center: new google.maps.LatLng(50.450100, 30.523989),
            zoom: 10,
            mapTypeId: "OSM",
            mapTypeControl: false,
            streetViewControl: false
        });

        //получение OpenStreetMap tile server
        map.mapTypes.set("OSM", new google.maps.ImageMapType({
            getTileUrl: function (coord, zoom) {
                return "http://tile.openstreetmap.org/" + zoom + "/" + coord.x + "/" + coord.y + ".png";
            },
            tileSize: new google.maps.Size(256, 256),
            name: "OpenStreetMap",
            maxZoom: 18
        }));
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directionsPanel'));
        //google.maps.event.addListener(directionsDisplay, 'directions_changed', function () {
        //    computeTotalDistance(directionsDisplay.getDirections());
        //});
        //геолокация
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = new google.maps.LatLng(position.coords.latitude,
                                                    position.coords.longitude);
                //NProgress.set(0.8);
                image = new google.maps.MarkerImage("/PlaceMarkers/Nav.png");
                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    icon: image
                });
                addMarker(marker,markers);
                var infowindow = new google.maps.InfoWindow({
                    map: map,
                    position: pos,
                    content:'@Resources.Map.YourLocation'
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                map.setCenter(pos);
                map.setZoom(12);
                //NProgress.done();
                //запоминаем текущие координаты местоположения
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
                if ($("#category1").prop("checked")) {
                    getDbMarkersGas();
                }
                if ($("#category5")[0].checked == true) {
                    var lat = document.getElementById('latitude').value;
                    var lng = document.getElementById('longitude').value;
                    getFoursquare(lat,lng);
                }


            }, function () {
                handleNoGeolocation(true);
            });
        } else {
            handleNoGeolocation(false);
        }

        //добавляет маркеры формирует маршрут
        google.maps.event.addListener(map, 'click', function (event) {
            if (route_markers.length ==2) {

                deleteMarkers(route_markers);
                deleteMarkers(waipoint_markers);
                deleteMarkers(waigas_markers);
                deleteMarkers(wairepair_markers);
                deleteMarkers(waiparking_markers);
                route_markers = [];

            }
            image = new google.maps.MarkerImage("/PlaceMarkers/route.png");
            var marker = new google.maps.Marker({
                position: event.latLng,
                map: map,
                icon: image
            });
            //запоминаем текущие координаты местоположения

            addMarker(marker, route_markers);
            if (route_markers.length > 1) {

                calcRoute(route_markers);
            }

        });

        // выставляется маркеров места интереса на карте
        google.maps.event.addListener(map, 'rightclick', function (event) {
            image = new google.maps.MarkerImage("/PlaceMarkers/Nav.png");
            var marker = new google.maps.Marker({
                position: event.latLng,
                map: map,
                icon: image
            });
            var infowindow = new google.maps.InfoWindow({
                map: map,
                position: event.latLng,
                //content: 'Ваше местоположение'
                content: '@Resources.Map.YourLocation'
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

            document.getElementById('latitude').value = event.latLng.lat();
            document.getElementById('longitude').value = event.latLng.lng();
            deleteMarkers(markers);
            deleteMarkers(gas_markers);
            deleteMarkers(cafe_marker);
            deleteMarkers(repair_markers);
            deleteMarkers(parking_markers);
            $('#results').append("");
            if ($("#category1")[0].checked == true) {
                if ($("#categoryDetails input:checked")) {
                    fuelcategory_id = [];
                    $("#categoryDetails input:checked").each(function () {
                        // alert(this.value);
                        fuelcategory_id.push(this.value);
                    });
                    clearMarkers(gas_markers);
                    getDbMarkersGas();
                }
                else {
                    getDbMarkersGas();
                }
            }
            if ($('#category2').prop("checked")) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                var rad = $('#radius').val();
                // alert(rad);
                getRepairGoogle(lat, lng, rad);
            }
            if ($("#category3").prop("checked")) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                var rad = $('#radius').val();
                //alert(rad);
                getParkingGoogle(lat, lng, rad);
            }

            if ($("#category5")[0].checked == true) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                getFoursquare(lat,lng);
            }

            addMarker(marker, markers);
        });

        //google автозаполнение
        input = (document.getElementById('pac-input'));

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.setTypes(['geocode']);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {

            place = autocomplete.getPlace();
            document.getElementById('latitude').value = '';
            document.getElementById('longitude').value = '';
            if (!place.geometry) {
                return;
            }
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);

            } else {

                document.getElementById('latitude').value = place.geometry.location.lat();
                document.getElementById('longitude').value = place.geometry.location.lng();
            }

            deleteMarkers(markers);
            deleteMarkers(gas_markers);
            deleteMarkers(cafe_marker);
            deleteMarkers(repair_markers);
            deleteMarkers(parking_markers);
            $('#results').append("");
            if ($("#category1")[0].checked == true) {
                if ($("#categoryDetails input:checked")) {
                    fuelcategory_id = [];
                    $("#categoryDetails input:checked").each(function () {
                        // alert(this.value);
                        fuelcategory_id.push(this.value);
                    });
                    clearMarkers(gas_markers);
                    getDbMarkersGas();
                }
                else {
                    getDbMarkersGas();
                }
            }
            if ($('#category2').prop("checked")) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                var rad = $('#radius').val();
                // alert(rad);
                getRepairGoogle(lat, lng, rad);
            }
            if ($("#category3").prop("checked")) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                var rad = $('#radius').val();
                //alert(rad);
                getParkingGoogle(lat, lng, rad);
            }
            if ($("#category5")[0].checked == true) {
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;
                getFoursquare(lat,lng);
            }
            image = new google.maps.MarkerImage("/PlaceMarkers/Nav.png");
            marker = new google.maps.Marker({
                position: place.geometry.location,
                map: map,
                icon:image
            });
            var infowindow = new google.maps.InfoWindow({
                map: map,
                position: place.geometry.location,
                content: place.formatted_address

            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

            addMarker(marker, markers);
            var address = '';
            if (place.address_components) {
                address = [
                  (place.address_components[0] && place.address_components[0].short_name || ''),
                  (place.address_components[1] && place.address_components[1].short_name || ''),
                  (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');

            }
        });

    }
    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation';
        }
    }

//функции для расчета расстояния между точками на карте
    function Radians(x) {
        return x * Pix / 180;
    }

    function DistanceBetweenPlaces(lon1, lat1, lon2, lat2) {

        var dlon = Radians(lon1 - lon2);
        var dlat = Radians(lat1 - lat2);
        var a = (Math.sin(dlat / 2) * Math.sin(dlat / 2)) +
            Math.cos(Radians(lat1)) * Math.cos(Radians(lat2)) * (Math.sin(dlon / 2) * Math.sin(dlon / 2));
        var angel = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var r = (angel * RADIO) * 0.62137;

        return (angel * RADIO) * 0.62137; //distance in miles

    }

//
    //добавление маркера на карту
    function addMarker(marker, array_markers) {
        array_markers.push(marker);
    }

// установка  маркеров из массива на карту
    function setAllMap(markers, map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    //удаление маркеров с карты сохраняя при этом в массиве
    function clearMarkers(markers) {
        setAllMap(markers, null);
    }

//показать все маркеры из массива
    function showMarkers() {
        setAllMap(map);
    }

//удалить все маркеры из массива
    function deleteMarkers(markers) {
        clearMarkers(markers);
        markers = [];

    }

    google.maps.event.addDomListener(window, 'load', initialize);

//получить автосервисы в задоном месте и радиусе данные Google PlacesService
    function getRepairGoogle(lat, lng, rad) {

        rad = rad * 1000; //переводим в метры требует google
        var pos = new google.maps.LatLng(lat, lng);
        var request = {
            location: pos,
            radius: rad,
            types: ['car_repair']
        };

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, repaircallback);
    }

    function repaircallback(results, status) {
        image = new google.maps.MarkerImage("/PlaceMarkers/car_repair.png");
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i], image, repair_markers);
            }
        }
    }

    function getParkingGoogle(lat, lng, rad) {

        rad = rad * 1000; //переводим в метры требует google
        var pos = new google.maps.LatLng(lat, lng);
        var request = {
            location: pos,
            radius: rad,
            types: ['parking']
        };

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, parkingcallback);
    }

    function parkingcallback(results, status) {
        image = new google.maps.MarkerImage("/PlaceMarkers/Garage2.png");
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i], image, parking_markers);
            }
        }
    }

    function getWaiRepairGoogle(lat, lng, rad) {

        rad = rad * 1000; //переводим в метры требует google
        var pos = new google.maps.LatLng(lat, lng);
        var request = {
            location: pos,
            radius: rad,
            types: ['car_repair']
        };

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, wairepaircallback);
    }

    function wairepaircallback(results, status) {
        image = new google.maps.MarkerImage("/PlaceMarkers/car_repair.png");
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i], image, wairepair_markers);
            }
        }
    }

    function getWaiParkingGoogle(lat, lng, rad) {

        rad = rad * 1000; //переводим в метры требует google
        var pos = new google.maps.LatLng(lat, lng);
        var request = {
            location: pos,
            radius: rad,
            types: ['parking']
        };

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, waiparkingcallback);
    }

    function waiparkingcallback(results, status) {
        image = new google.maps.MarkerImage("/PlaceMarkers/Garage2.png");
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i], image, waiparking_markers);
            }
        }
    }

    function createMarker(place, image, markers) {
        var infowindow = new google.maps.InfoWindow();
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location,
            icon: image
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent('<h2>' + place.name + '</h2><p>' +
                (place.vicinity ? place.vicinity : place.formatted_address) +
                '</p><img src="' + place.icon + '"" width="100"/>');
            infowindow.open(map, marker);
        });
        addMarker(marker, markers);
    }

    //if ($("#gas_markers").attr("checked")) { alert('Отмечен');}
    //загрузка  от api forsquare маркеров с учетом местоположения
    function getFoursquare(lat, lng) {


        var image = new google.maps.MarkerImage("/PlaceMarkers/Coffee.png");
        $.getJSON('https://api.foursquare.com/v2/venues/search?client_id=4G0ZYJBKXRKRJ5VGLULFCGQPRNJADTJZIHQPE5NRT33WKVMV&client_secret=VU4NZM13SM3AFZ30NDA2U4B1ZYOLKZ5JNQJQKW2RYZXSFKZL&v=20130815&ll=' + lat + ',' + lng + '&query=cafe',
            function(data) {
                $.each(data.response.venues, function(i, venues) {
                    content = '<p>Name: ' + venues.name +
                        ' Address: ' + venues.location.address +
                        ' Lat/long: ' + venues.location.lat + ', ' + venues.location.lng + '</p>';
                    var pos = new google.maps.LatLng(venues.location.lat,
                        venues.location.lng);
                    var infowindow = new google.maps.InfoWindow({
                        content: '<p>' + content + '</p>'
                    });
                    //$('#results').append('<li class="list-group-item">' + infowindow.content + '</a></li>');

                    var marker = new google.maps.Marker({
                        Position: pos,
                        map: map,
                        icon: image
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map, marker);
                    });
                    addMarker(marker, cafe_marker);
                });
                //map.setZoom(15);
            });
    }

    function getDbMarkersGas() {
        var lat = document.getElementById('latitude').value;
        var lng = document.getElementById('longitude').value;
        var radius = $('#radius').val();
        var category = $('#category1').val();
        var cheaper = "";
        if ($("#gas_cheaper").prop("checked")) {
            cheaper = $("#gas_cheaper").val();
        }
        squirrel = {
            Lat: lat,
            Long: lng,
            Vendore: "",
            ImagePath: "",
            Country: "",
            Adress: "",
            Category: category,
            Radius: radius,
            FuelCategories: fuelcategory_id,
            Gascheaper: cheaper
        };
        //alert("lat = " + lat + "\nlng = " + lng + "\ncategory = " + category + "\nradius = " + radius + "\nfuelcategory_id = " + fuelcategory_id + "\ncheaper = " + cheaper);
        //alert("Lat: " + squirrel.Lat + "Lng: " + squirrel.Long + " Cat: " + squirrel.Category + "Радиус: " + squirrel.Radius)
        var onEventLaunchSquirrel = new postSquirrel(squirrel);
        onEventLaunchSquirrel.launchSquirrel();
    }

    //передача json объекта и загрузка данных из контролера
    //от точки местоположения в радиусе выбираются маркеры из бд
    function postSquirrel(squirrel) {
        //alert("squirrel = " + squirrel);
        //alert("lat = " + squirrel.lat + "\nlng = " + squirrel.lng + "\ncategory = " + squirrel.category + "\nradius = " + squirrel.radius + "\nfuelcategory_id = " + squirrel.fuelcategory_id + "\ncheaper = " + squirrel.cheaper);
        this.launchSquirrel = function() {
            $('body').show();
            $.ajax({
                type: "POST",
                //url: "/map/PostSquirrel",
                url: '@(Url.Action("PostSquirrel", "Map"))',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(squirrel),
                success: function(data) {
                    $.each(data, function(i, item) {
                        var lat = item.Lat.replace(",", ".");
                        var lng = item.Long.replace(",", ".");
                        var price = item.Prices;
                        var fuelcategory = item.FuelCategories;
                        var pricecontent = "";
                        var fuelcatcontent = "";
                        $.each(fuelcategory, function(index, value) { fuelcatcontent += "<th>" + value + "</th>"; });
                        $.each(price, function(index, value) { pricecontent += "<td>" + value + "</td>"; });
                        content = '<p>' + item.Vendore +
                            ' Lat/long: ' + item.Lat + ', ' + item.Long + " " + "<br/>" +
                            "<p>" + item.Adress + "</p>" +
                            "<table class='table table-hover'><thead><tr>"
                            + fuelcatcontent
                            + "</tr></thead>" +
                            "<tbody><tr>"
                            + pricecontent
                            + "</tr></tbody></table>";

                        var image = new google.maps.MarkerImage("/PlaceMarkers/Fuel.png");
                        var infowindow = new google.maps.InfoWindow({
                            content: '<p>' + content + '</p>'
                        });

                        var pos = new google.maps.LatLng(lat, lng);
                        var marker = new google.maps.Marker({
                            Position: pos,
                            title: item.Vendore,
                            map: map,
                            icon: image
                        });
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.open(map, marker);
                        });
                        addMarker(marker, gas_markers);
                    });
                    console.log(data);
                    if(data != '')
                        vendorDetails(data);
                },
                error: function(data) { console.log(data) }
            });
        }
    }

    //получить инфу поставщиков АЗС
    function vendorDetails(data) {
        $.ajax({
            type: "POST",
            @*url: "@(Url.RouteUrl("PostlstSVendor"))",*@
            url: '@(Url.Action("PostlstSVendor", "Map"))',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: function (data) {
                $('#results').html('');
                $.each(data, function (i, item) {

                    var price = item.Prices;
                    var fuelcategory = item.FuelCategories;
                    var pricecontent = "";
                    var fuelcatcontent = "";
                    $.each(fuelcategory, function (index, value) {
                        fuelcatcontent += "<th>" + value + "</th>";
                    });

                    $.each(price, function(index, value) { pricecontent += "<td>" + value + "</td>"; });

                    content = '<p>' + item.Vendore + "</p>" +
                        "<table class='table table-hover'><thead><tr>"
                               + fuelcatcontent
                               + "</tr></thead>" +
                               "<tbody><tr>"
                               + pricecontent
                               + "</tr></tbody></table>";

                    $('#results').append('<li class="list-group-item">' + content + '</a></li>');
                });
                console.log(data);
            },
            error: function (data) { console.log(data) }
        });
    }

    //получение от google api путевых точек по маршруту
    function calcRoute(route_markers) {
        var radius = $('#radius').val();
        var category = $('#category1').val();
        var rf = parseFloat(radius);
        var start = route_markers[0].position;
        var end = route_markers[route_markers.length - 1].position;
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
        squirrel_data = [];
        var cheaper = "";
        if ($("#gas_cheaper").prop("checked")) {
            cheaper = $("#gas_cheaper").val();
        }
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                var path;
                //image = new google.maps.MarkerImage("../PlaceMarkers/waypoint.png");
                var route = response.routes[0];// содержит массив объектов DirectionsRoute(1 маршрут  для заданных исходной точки и пункта назначения)

                for (var i = 0; i < route.legs.length; i++) {
                    var leg = route.legs[i];//legs[] содержит массив объектов DirectionsLeg каждый из которых содержит информацию об отрезке маршрута между двумя точками на заданном маршруте

                    for (var j = 0; j < leg.steps.length; j++) {
                        var step = leg.steps[j];//DirectionsLeg определяет отдельный отрезок пути от исходной точки до пункта назначения в вычисленном маршруте.
                        //steps[] содержит массив объектов DirectionsStep с информацией о каждом шаге на отрезке путешествия.
                        for (var k = 0; k < step.path.length; k++) {
                            path = step.path[k];//path содержит массив элементов LatLngs, описывающий траекторию шага.

                            if (routepath.length == 0) {
                                routepath.push(path);
                                squirrel = {
                                    Lat: path.lat(),
                                    Long: path.lng(),
                                    Vendore: "",
                                    ImagePath: "",
                                    Country: "",
                                    Adress: "",
                                    Category: category,
                                    Radius: radius,
                                    FuelCategories: fuelcategory_id,
                                    Gascheaper: cheaper
                                };
                                //alert("Lat: " + squirrel.Lat + "Lng: " + squirrel.Long + " Cat: " + squirrel.Category + "Радиус: " + squirrel.Radius)
                                squirrel_data.push(squirrel);
                                image = new google.maps.MarkerImage("/PlaceMarkers/media.png");
                                var marker = new google.maps.Marker({
                                    position: path,
                                    map: map,
                                    icon: image
                                });
                                addMarker(marker, waipoint_markers);
                            }
                            var s = routepath.length;

                            if (routepath.length > 0 && DistanceBetweenPlaces(routepath[s - 1].lat(), routepath[s - 1].lng(), path.lat(), path.lng()) > rf) {
                                routepath.push(path);
                                squirrel = {
                                    Lat: path.lat(),
                                    Long: path.lng(),
                                    Vendore: "",
                                    ImagePath: '',
                                    Country: '',
                                    Category: category,
                                    Radius: radius,
                                    FuelCategories: fuelcategory_id,
                                    Gascheaper: cheaper
                                };
                                //alert("Lat: "+squirrel.Lat+"Lng: "+squirrel.Long+" Cat: "+squirrel.Category+"Радиус: "+squirrel.Radius)
                                squirrel_data.push(squirrel);
                                if ($("#category2").prop("checked")) {
                                    getWaiRepairGoogle(path.lat(), path.lng(), radius);
                                }
                                if ($("#category3").prop("checked")) {
                                    //alert(rad);
                                    getWaiParkingGoogle(path.lat(), path.lng(), radius);
                                }
                                image = new google.maps.MarkerImage("/PlaceMarkers/media.png");
                                var marker = new google.maps.Marker({
                                    position: path,
                                    map: map,
                                    icon: image
                                });

                                addMarker(marker, waipoint_markers);
                            }
                        }
                    }
                }
                $('#directionsPanel').css("background", "white");
                $('#labelroute').css("color", "white");
                directionsDisplay.setDirections(response);

            }//end responce
            if ($('#category1:checked').val() !== undefined) {
                getDbMarkerRoute();
            }
        });
    }
    function getDbMarkerRoute() {
        var radius = $('#radius').val();
        var category = $('#category1').val();
        squirrel_data[0].Radius = radius;
        squirrel_data[0].Category = category;
        var onEventLaunchlstSquirrel = new postlstSquirrel(squirrel_data);
        onEventLaunchlstSquirrel.launchlstSquirrel();

    }
    //загружаются маркеры азс изи бд по маршруту
    function postlstSquirrel(squirrel_data) {
        this.launchlstSquirrel = function () {
            $('body').show();
            //NProgress.start();
            //build json object
            $.ajax({
                type: "POST",
                url: "@(Url.RouteUrl("PostlstSquirrel"))",
                @*url: '@(Url.Action("PostlstSquirrel", "Map"))',*@
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(squirrel_data),
                success: function (data) {
                    //NProgress.set(0.4);
                    $.each(data, function (i, item) {
                        var lat = item.Lat.replace(",", ".");
                        var lng = item.Long.replace(",", ".");
                        var price = item.Prices;
                        var fuelcategory = item.FuelCategories;
                        var pricecontent = "";
                        var fuelcatcontent = "";
                        $.each(fuelcategory, function (index, value) { fuelcatcontent += "<th>" + value + "</th>"; })
                        $.each(price, function (index, value) { pricecontent += "<td>" + value + "</td>"; })
                        content = '<p>' + item.Vendore +
                                           ' Lat/long: ' + item.Lat + ', ' + item.Long + " " + "<br/>" +
                                           "<p>" + item.Adress + "</p>" +
                                           "<table class='table table-hover'><thead><tr>"
                                           + fuelcatcontent
                                           + "</tr></thead>" +
                                           "<tbody><tr>"
                                           + pricecontent
                                           + "</tr></tbody></table>";

                        var image = new google.maps.MarkerImage("/PlaceMarkers/Fuel.png");
                        var pos = new google.maps.LatLng(lat, lng);
                        var marker = new google.maps.Marker({
                            position: pos,
                            map: map,
                            icon: image
                        });
                        var infowindow = new google.maps.InfoWindow({
                            map: map,
                            position: pos,
                            content: content
                        });


                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });
                        infowindow.close();
                        addMarker(marker, waigas_markers);


                    });
                    //map.setCenter(markers_data[0].lat, markers_data[0].lng);
                    // map.setZoom(15);


                    //  alert("Загружено!!!");
                    console.log(data);
                    if (data != '')
                        vendorDetails(data);//получить инфу о азс на карте
                    //NProgress.done();
                },
                error: function (data) { console.log(data) }

            });
        }
    }





</script>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="~/bower_components/raphael/raphael-min.js"></script>
<script src="~/bower_components/morrisjs/morris.min.js"></script>
<script src="~/js/morris-data.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/dist/js/sb-admin-2.js"></script>

